@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin: 0px;
    padding: 0%;
    font-family: "montserrat",sans-serif;
}
/* navbar */
li,li a,h1{
    font-family: "montserrat",sans-serif;
    text-shadow: 2px 2px #42414157}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 10px;
    width: 100%;
}
h1{
    margin-left: 30px;
    cursor: pointer;
}
#theme{
    width: 40px;
    border-radius: 50%;
}
nav ul{
list-style: none;
}
nav li{
    display: inline-block;
    padding: 10px 10px;
    margin-right: 10px;
    border-radius: 5px;
    transition: all 0.4s ease 0s;
}
nav li a:hover{
    color: yellow;
}
nav li a{
    text-decoration: none;
    color: var(--text-color2);
}
.active{
    padding: 10px 10px;
    border-radius: 5px;
    background-color: var(--additional-color);
}
.side{
    display: none;
}

:root{
    --primary-color:rgb(72, 70, 70);
    --secondary-color:rgb(18, 18, 18);
    --additional-color:rgb(247, 112, 16);
    --text-color1:black;
    --text-color2:white;
}

.dark-theme{
    --primary-color:rgb(254, 252, 252);
    --secondary-color:rgb(148, 124, 124);
    --additional-color:rgb(191, 103, 30);
    --text-color1:white;
    --text-color2:black;
}


/* articles */
body{
    background-color: var(--secondary-color);
}
.none{
    margin-top: 2%;
    color: var(--text-color2);
}
.heading{
    text-align: center;
    margin-top: 90px;
    font-family: 'Poppins', sans-serif;
    color: var(--additional-color);
    margin-bottom: 5%;

}
.container{
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}
.scale{
    width: 25%;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--additional-color);
    transition: 0.5s;
}

.scale:hover{
    background-color: var(--primary-color);
    transform: scale(0.9);
}
.scale:hover img{
    margin-bottom: 4px;
    transform: scale(1.1);
}
.scale a{
    text-decoration: none;
    color: black;
}
.scale img{
width: 100%;
height: 40vh;
object-fit: cover;
transition: 1s;
}
.new{
    display: none;
    margin-top: 1%;
    margin-bottom: 5px;
}
p{
margin: 10px;
word-wrap: break-word;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
overflow: hidden;
}
.more{
float: right;
margin-right:10%;
margin-top: 2%;
width: 150px;
padding: 5px;
background-color: transparent;
color: var(--text-color2);
border: 1px solid var(--additional-color);
cursor: pointer;
}
.more span{
    cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.more span:after{
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.more:hover span{
    padding-right: 15px;
}
.more:hover span::after{
    right: 0;
    opacity: 1;

}
/* popup div */
.allcontainer{
    font-family: "montserrat",sans-serif;
    top: 0%;
    display: none;
    width:100%;
    height:100vw;
    background-color: rgba(244, 241, 241, 0.639);
    position: absolute;
}
.all{
    background-color: rgb(210, 205, 205);
    width: 20%;
    margin-left: 40%;
    margin-top: 15%;
    margin-bottom: 10px;
    border-radius: 7px;
    position: fixed;
    box-shadow: 5px 8px 10px #888888;
    padding-bottom:10px ;
    }
    .all p{
        text-align: center;
        margin-top: 5px;
        margin-bottom: 15px;
    }
    .all button{
        width: 70%;
        margin-left: 40px;
        margin-bottom: 10px;
        border-radius: 5px;
        border-style: none;
        padding: 5px;
        cursor: pointer;
    }

@media(max-width:800px){
    nav ul li{
        display:block;
       }
       nav{
        position: absolute;
        background: orangered;
        height: 100vh;
        top: 0;
        right: -200px;
        transition: 1s;
       }
       .side{
        display: block;
        margin: 10px;
        font-size: 25px;
        cursor: pointer;
        color: white;
       }
       nav ul{
        padding: 10px;
       }

/* blogs */
    .heading{
        text-align: center;  
        font-size: 6vw;
    }
    .container{
        flex-direction: column;
    }
    .scale{
        min-width: 80%;
        margin: 0px 40px;
    }
    p{
       font-size: 4vw;
    }
    .more{
        overflow: hidden;
        margin: 10%;
        width: 80%;
        font-size: 2vw;
    }
}