@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

*{
     margin: 0%;
    padding: 0%;
}

body{
   
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../html/images/rushimisha.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

}
li,a,h1{
    font-family: "montserrat",sans-serif;
    text-shadow: 2px 2px #42414157}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 10px;
    width: 100%;
}
h1{
    margin-left: 30px;
    cursor: pointer;
}
.logo{
    background-color: white;
border-radius: 50%;
width: 40px;
text-align: center;
color: EE500C;
}
nav ul{
list-style: none;
}
nav li{
    display: inline-block;
    padding: 10px 10px;
    margin-right: 10px;
    border-radius: 5px;
    transition: all 0.4s ease 0s;
}
nav li a:hover{
    color: rgb(232, 239, 17);
}
nav li a{
    text-decoration: none;
    color: rgb(246, 245, 245);
}
.active{
    padding: 10px 10px;
    border-radius: 5px;
    background-color: orangered;
}

:root{
    --primary-color:rgb(72, 70, 70);
    --secondary-color:black;
    --additional-color:rgb(247, 112, 16);
    --text-color1:black;
    --text-color2:white;
}

.dark-theme{
    --primary-color:rgb(254, 252, 252);
    --secondary-color:rgb(148, 124, 124);
    --additional-color:rgb(191, 103, 30);
    --text-color1:white;
    --text-color2:black;
}

/* home */
.text{
    position: absolute;
    top: 25%;
    line-height: 1.5;
    font-size: 70px;
    font-family: 'Inter', sans-serif;
    color: EE500C ;
    text-shadow: 2px 2px #17161684;
    overflow: hidden;

}
/* animation */
/* in */
span{
    display: none;
}
.text-in{
    display: inline-block;
    animation-name: in;    
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
@keyframes in{
   0%{
    transform: translateY(100%);
   }
   100%{
    transform: translateY(0%);
   }
}
/* out */
.text-out{
    animation-name: out;    
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
@keyframes out{
    0%{
     transform: translateY(0%);
    }
    100%{
     transform: translateY(-50%);
     opacity: -10;
    }
 }


a button{
    position: absolute;
    background-color: white;
    left: 30px;
    bottom: 5%;
    padding: 10px 20px;
    border-style: none;
    color: EE500C;
    font-weight: bold;
    box-shadow: 3px 2px rgb(63, 63, 63);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
a button:hover{
    transform:scale(0.91);
    background-color: rgb(223, 122, 40);
color: white;
}
.footer p{
    position: absolute;
    background-color: rgb(250, 252, 252);    padding: 10px 10px;
    border-radius: 50%;
    font-size: 15px;
    width: 1.3%;
    top: 90%;
    text-align: center;
}
.fa{
    cursor: pointer;
}
.facebook{
    left: 80%;
}
.twitter{
    left: 85%;
}
.linked{
    left: 90%;
}
.side{
    display: none;
}
.footer a{
    text-decoration: none;
    color: var(--text-color1);
}
.allcontainer{
    font-family: "montserrat",sans-serif;
    top: 0%;
    display: none;
    width:100%;
    height:100vw;
    background-color: rgba(244, 241, 241, 0.639);
    position: absolute;
}
.all{
    background-color: rgb(210, 205, 205);
    width: 20%;
    margin-left: 40%;
    margin-top: 15%;
    margin-bottom: 10px;
    border-radius: 7px;
    position: fixed;
    box-shadow: 5px 8px 10px #888888;
    padding-bottom:10px ;
    }
    .all p{
        text-align: center;
        margin-top: 5px;
        margin-bottom: 15px;
    }
    .all button{
        width: 70%;
        margin-left: 40px;
        margin-bottom: 10px;
        border-radius: 5px;
        border-style: none;
        padding: 5px;
        cursor: pointer;
    }
@media(max-width:800px){
   .text{
    top: 30%;
    font-size: 40px;
   }
   nav ul li{
    display:block;
   }
  
   
   nav{
    position: absolute;
    background: orangered;
    height: 100vh;
    top: 0;
    right: -200px;
    transition: 1s;
   }
   
   .side{
    display: block;
    margin: 10px;
    font-size: 25px;
    cursor: pointer;
   }
   nav ul{
    padding: 10px;
   }
   button{
    bottom: 20%;
   }

p{
top: 85%;
left: 0;
width: 5%;
align-items: center;
}
.facebook{
    left: 20%;
}
.twitter{
    left: 40%;
}
.linked{
    left: 60%;
}

}