@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    font-family: "montserrat",sans-serif;
    margin: 0%;
}
/* navbar */
li,li a,h1{
    font-family: "montserrat",sans-serif;
    text-shadow: 2px 2px #42414157}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 10px;
    width: 100%;
}
h1{
    margin-left: 30px;
    cursor: pointer;
}
#theme{
    width: 40px;
    border-radius: 50%;
    margin-left: 600%;

}
nav ul{
list-style: none;
}
nav li{
    display: inline-block;
    padding: 10px 10px;
    margin-right: 10px;
    border-radius: 5px;
    transition: all 0.4s ease 0s;
}
nav li:hover{
    background-color: EE500C;
}
nav li a{
    text-decoration: none;
    color: var(--text-color2);
}
.side{
    display: none;
}

:root{
    --primary-color:rgb(72, 70, 70);
    --secondary-color:black;
    --additional-color:rgb(247, 112, 16);
    --text-color1:black;
    --text-color2:white;
}

.dark-theme{
    --primary-color:rgb(254, 252, 252);
    --secondary-color:rgb(148, 124, 124);
    --additional-color:rgb(191, 103, 30);
    --text-color1:white;
    --text-color2:black;
}


/* dashboard */
.flex{
    display: flex;
}
.right{
    width: 80%;
    background-color: var(--secondary-color);
    height: 100vh;
}
.left{
    width: 20%;
    background-color: var(--primary-color);
    padding-bottom: 10px;
}
.left img{
    margin: 5% 25%;
    width:50%;
    border-radius: 60%;
}
.left p{
    margin-top:0px;
    margin-bottom: 0px;
    text-align: center;
    color: var(--text-color2);
}
.email{
color:var(--text-color2);
}
.box{
    background-color: var(--additional-color);
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.box:hover{
    transform: scale(0.9);
}
.blog{
    background-color: var(--additional-color);
    margin-top: 50px;
}
.drafts{
    margin-top: 30px;
}
.messages{
    margin-top: 30px;
}
.add{
    margin-top: 30px;
}
.manage{
    margin-top: 30px;
}

.right h1,h3{
    text-align: center;
}
.right h1{
    margin-top: 10%;
    margin-bottom: 10px;
    color: var(--text-color2);
    font-family: 'Poppins', sans-serif;
}
/* BLOGLIST */
.blogs{
    display: flex;
    width: 80%;
    background-color: var(--primary-color);
    margin-left: 10%;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
}
.blogs img{
    width: 15%;
    object-fit: cover;
}
.blogs p{
    margin-left: 5%;
    margin-bottom: 0%;
}
.parag{
    width: 90%;
    border-right: 1px dashed black;
    margin-right: 10px;
}
span{
    font-size: 10px;
   }
.edit{
    display: grid;
    grid-template-columns: 50px 50px;
    grid-row-gap:5px;
    width: 20%;
    margin: 1%;
    margin-left: 1%;
    flex-wrap: wrap;
    text-align: center;
}

.fa{
    font-size: 20px;
    text-shadow: 2px 2px #42414157;
}
.div{
    cursor: pointer;
    transition: 0.5s;
}
.div:hover{
    transform: scale(1.2);
}
a{
    text-decoration: none;
    color: var(--secondary-color);
}
.none{
    color: var(--additional-color);
    text-align: center;
}
/* pop up div */
.allcontainer{
    font-family: "montserrat",sans-serif;
    top: 0%;
    display: none;
    width:100%;
    height:100vw;
    background-color: rgba(244, 241, 241, 0.639);
    position: absolute;
}
.all{
    background-color: rgb(210, 205, 205);
    width: 20%;
    margin-left: 40%;
    margin-top: 15%;
    margin-bottom: 10px;
    border-radius: 7px;
    position: fixed;
    box-shadow: 5px 8px 10px #888888;
    padding-bottom:10px ;
    }
    .all p{
        text-align: center;
        margin-top: 5px;
        margin-bottom: 15px;
    }
    .all button{
        width: 70%;
        margin-left: 40px;
        margin-bottom: 10px;
        border-radius: 5px;
        border-style: none;
        padding: 5px;
        cursor: pointer;
    }


@media(max-width:800px){
/* navbar */
nav ul li{
    display:block;
   }
  
   nav{
    position: absolute;
    background: orangered;
    height: 100vh;
    top: 0;
    right: -200px;
    transition: 1s;
   }
   
   .side{
    display: block;
    margin: 10px;
    font-size: 25px;
    cursor: pointer;
   }
   nav ul{
    padding: 10px;
   }
   button{
    bottom: 20%;
   }


    /* dashboard */
    .flex{
        flex-direction: column;
    }
    .left{
        min-width: 100%;
    }
    .box{
        width: 50%;
        margin-top: 1%;
        padding: 2vw;
        margin-left: 24%;
        border-radius: 5px;
    }
    .right{
        min-width: 100%;
        height: 100%;
    }
    .right h1{
        margin-bottom: 10px;
    }
  .blogs{
    font-size: 4vw;
    width: 70%;
    flex-direction: column;
    margin-left: 20%;
  }
  .blogs img{
    width: 100%;
    object-fit: cover;
  }
  .parag{
    border-right: none;
    border-bottom: 1px dashed black;
  }
  .edit{
    display: flex;
    gap: 30px;
    width: 80%;
    margin-top: 2%;
    margin-left: 10%;
  }
  #theme{
    margin-left: 0%;

  }
}




