:root {
  --background-color: #111111;
  --color: #ffb400;
  --back-color: #212121;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  color: white;
  background-color: #111111;
}
.Yellow_section {
  width: 20%;
  background-color: yellow;
  position: fixed;
  height: 100vh;
  border-top-right-radius: 100%;
}
.Home_conntents {
  display: flex;
  flex-direction: row;
  gap: 6rem;
  width: 80%;
  margin-left: 20px;
  color: white;
}
.Home_conntents img {
  width: 800px;
  height: 480px;
  margin-top: 50px;
  object-fit: cover;
  z-index: 111;
  border-radius: 30px;
  box-shadow: 0 0 7px rgba(189, 21, 21, 0.5);
}
.whoami_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.whoami_section h1 {
  font-size: 51px;
  line-height: 62px;
  font-weight: 700;
  margin: 40px 0 15px;
  padding-left: 70px;
}
.whoami_section p {
  font-size: 16px;
  line-height: 25px;
  margin-left: 20px;
  width: 100%;
  line-height: 35px;
}
.whoami_section span {
  color: yellow;
}
.shy {
  margin-left: 2cm;
  font-size: large;
}
.shy img {
  height: 0.5cm;
  width: 0, 5cm;
}
.home_button {
  margin-top: 30px;
  overflow: hidden;
  display: inline-block;
  border-color: #ffb400;
  line-height: 1.4;
  border-radius: 35px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  transition: 250ms all ease-in-out;
  text-transform: uppercase;
  text-decoration: none !important;
  position: relative;
  z-index: 1;
  padding: 16px 70px 16px 35px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: transparent;
  outline: none !important;
}
.side_nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 95%;
  top: 30%;
  margin: 0 auto;
  gap: 1rem;
}
.side_nav a {
  padding: 12px 16px;
  background-color: #252525;
  border-radius: 50%;
}
.side_nav a.active {
  background-color: var(--color);
  color: white;
}
.side_nav img {
  width: 20px;
  height: 20px;
}
.contactcontainer {
  display: flex;
  gap: 5cm;
  margin-top: 2cm;
}
h1 {
  font-size: 100px;
  text-align: center;
  color: rgba(109, 108, 108, 0.178);
}
button {
  width: 250px;
  height: 35px;
  border-radius: 20px;
  border-color: yellow;
}
h3 {
  text-align: center;
  font-size: 50px;
  margin-top: -80px;
}

.side_nav a:hover:not(.active) {
  background-color: var(--color);
}
@media screen and (max-width: 920px) {
  .Yellow_section {
    display: none;
  }
  .Home_conntents {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
  }
  .Home_conntents img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .whoami_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .whoami_section h1 {
    font-size: 29px;
    line-height: 39px;
    margin-top: -60px;
  }
  .side_nav {
    left: 85%;
  }
}
