:root {
    --background-color: #111111;
    --color: #FFB400;
    --back-color:#212121;
  }
  
  body {
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
  }
  .title_section{
    text-align: center;
    animation-name: sectionmove;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
  }
 
  .title_section span{
    color: var(--color);
  }
 .title_section h1{
        color: var(--back-color);
        margin-top: 0px;
        font-size: 110px;    
        font-weight: bold;

    }
.title_section h2{
        color: white;
        font-size: 3rem;
        font-weight: bold;
        margin-top: -188px;
      }
.card_container{
    display: flex;
    width: 80%;
    gap: 20px;
    margin: 4rem auto;
  }
.card {
        transition: 0.3s;
        background: rgba(217, 217, 217, 0.81);
        border-radius: 10px;
       color: #3C3434;
      }
.card:hover{
        transform: scale(1.1);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        
      }
   .card_info{
        display: flex;
        width: 100%;
        flex-direction: column;
      
   }
   .uper{
    display: flex;

   }
    .card_info img{
          width: 100px;
          height: 100px;
          object-fit: contain;
          margin: 20px;
          border-radius: 50%;
        }
   .container{
        padding: 2px 16px;
      
   }
   .persona_detail h1{
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
        margin-top: 20px;
      
   }
   .star{
       display: flex;
      }
      .star img{
        width: 20px;
        height: 20px;
        object-fit: contain;
      }
      .side_nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 95%;
        top: 30%;
        margin: 0 auto;
        gap: 1rem;
      }
      .side_nav a {
        padding: 12px 16px;
        background-color: #252525;
        border-radius: 50%;
      }
      .side_nav a.active {
        background-color: var(--color);
        color: white;
      }
      .side_nav img{
        width: 20px;
        height: 20px;
      }
      
      .side_nav a:hover:not(.active) {
        background-color: var(--color);
      }
      @keyframes sectionmove{
        0%{
          transform: translateX(-100px);
          
    
        }
        60%{
            transform: translateX(10px);
    
        }
        80%{
            transform: translateX(10px);
    
        }
        100%{
    transform: translate(0);
        }
        




      }